<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="content">
            <directory>src/Content</directory>
        </testsuite>
        <testsuite name="routing">
            <directory>src/Responders</directory>
            <directory>src/Routing</directory>
        </testsuite>
    </testsuites>
</phpunit>
