{% extends "content/page.twig" %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for name, entity in index %}
            <tr>
                <td><a href="{{ entity.url }}">{{ name }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<ul>
</ul>
{% endblock %}

