
{% set links = [
    { id: "home", label: "Overview", url: "/"},
    { id: "templates", label: "Templates", url: "/_outpost/templates"},
    { id: "classes", label: "Classes", url: "/_outpost/classes"},
] %}

<nav class="main-nav">
    <ul class="main-nav__top-level">
        {% for link in links %}
        <li class="main-nav__top-level-item {{ activeItem == link.id ? "main-nav__top-level-item--active" }}">
            <a class="main-nav__top-level-link" href="{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
