<nav class="main-nav">
    <h2 class="main-nav__title">Outpost</h2>
    <ul class="main-nav__top-level">
        <li class="main-nav__top-level-item main-nav__top-level-item--active">
            <a class="main-nav__top-level-link" href="/_outpost/templates">Templates</a>
        </li>
        <li class="main-nav__top-level-item">
            <a class="main-nav__top-level-link" href="/_outpost/classes">Classes</a>
        </li>
    </ul>
</nav>
