body {
  margin: 0;
  padding: 2em 10%;
  background-color: #fff;
  color: #060606;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

pre {
  background-color: #e6e6e6;
  max-width: 100%;
  overflow-x: scroll;
}