<!DOCTYPE html>
<html>
<head>
    <title>Outpost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if stylesheet %}
        <style>{{ stylesheet|raw }}</style>
    {% endif %}
    {% if script %}
        <script>{{ script|raw }}</script>
    {% endif %}
</head>
<body>

    <header>
        {% include "navigation/main.twig" %}
    </header>

    <main>
        {% block body "" %}
    </main>

</body>
</html>
