<!DOCTYPE html>

<script src="https://pym.nprapps.org/pym.v1.min.js"></script>

<div style="position:relative;border:1px solid red; width: 50%">
    <div id="example" style="position:relative"></div>
</div>
<script>
    var pymParent = new pym.Parent('example', '/{{ path }}', {});
</script>
