<!DOCTYPE html>
<html>
<head>
    <title>Outpost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if stylesheet %}
        <style>{{ stylesheet|raw }}</style>
    {% endif %}
    {% if headerScript %}
        <script>{{ headerScript|raw }}</script>
    {% endif %}
</head>
<body>

    <header>
        {% include "console/navigation/main.twig" %}
    </header>

    <main>
        {% block body "" %}
    </main>

    {% if footerScript %}
        <script>{{ footerScript|raw }}</script>
    {% endif %}
</body>
</html>
