{% set activeItem = "classes" %}

{% extends "console/page.twig" %}

{% block body %}

    <table>
        <thead>
        <tr>
            <th>Template</th>
            <th>Modified</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>
                    <a href="/_outpost/classes/entity?name={{ class.name|e("url") }}">{{ class.name }}</a>
                </td>
                <td>
                    {{ class.file.timeModified|date('F j, g:i A') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
